.navbar-expand-lg {
    margin-top: 8vh;
background-color: black; 
margin-bottom: 5vh;
}
.navbar-brand {
    color: white;
}
.navbar-nav .nav-link.active{
    color: white;
}
.nav-link{
    color: white;
}
.card {
  margin: .5vh;  
}